<%= form_with(model: issue, local: true) do |form| %>
  <% if issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
        <div>
      <%= form.label :workflow %>
      <%= form.select(:workflow, options_for_select([['new','new'],['open','open'],['on hold','on hold'],['resolved','resolved'],['duplicate','duplicate'],['wontfix','wontfix'],['closed','closed']], @issue.workflow)) %>
      </div>
<div>
      <%= form.label :watch %>
      <%= form.check_box :watch, id: :issue_watch %>
      </div>
      
      <div>
      <%= form.label :vote %>
      <%= form.check_box :vote, id: :issue_vote %>
      </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
